.arrow-back {
  display: inline-block;
  margin: 0 0 20px;
  text-decoration: none;
}
.arrow-back::before {
  display: inline-block;
  width: 7px;
  height: 7px;
  margin-right: 10px;
  border: 0px;
  border-top: solid 2px #2962ff;
  border-right: solid 2px #2962ff;
  transform: rotate(225deg);
  content: "";
}
.arrow_forward a {
  display: inline-block;
  margin: 0 0 20px;
  text-decoration: none;
}
.arrow_forward::after {
  display: inline-block;
  width: 7px;
  height: 7px;
  margin-left: 10px;
  border: 0px;
  border-top: solid 2px #2962ff;
  border-right: solid 2px #2962ff;
  transform: rotate(45deg);
  content: "";
}
