.navigation-button {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  @at-root {
    #{&}--next {
      display: inline-flex;
      flex-direction: row-reverse;
      align-items: center;
      text-decoration: none;
    }
    #{&}__icon {
      width: 5.7px;
      height: 10px;
      fill: none;
      stroke: #3f67ff;
    }
    #{&}__icon--next {
      width: 5.7px;
      height: 10px;
      transform: rotateY(180deg);
      fill: none;
      stroke: #3f67ff;
    }
    #{&}__text {
      margin: 0 0 0 9.1px;
      color: #3f67ff;
      font-size: 1.6rem;
    }
    #{&}--next__text {
      margin: 0 9.1px 0 0;
      color: #3f67ff;
      font-size: 1.6rem;
    }
  }
}
