@import "../variables/module";
.main-menu {
  flex: 0 0 240px;
  height: calc(100vh - #{$HEADER_HEIGHT});
  border-right: #dcdde6 1px solid;
  @at-root {
    #{&}__content {
      width: 100%;
      padding: 30px 30px 28px;
      overflow-y: scroll;
    }
  }
}
