.kb-pwd-reminder-send-container {
  width: 100%;
  margin: auto;
  max-width: 500px;
  padding: 15px;
  .kb-panel {
    width: 100%;
    height: auto;
    .kb-panel-title {
      img {
        height: 50px;
      }
    }
  }
}
